* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta colores */
:root {
    /* modo claro */
    --azulBotones: #197fe6;
    --grisClaro: #f1f5f9;
    --blancoNavbar: #ffffff;
    --negroLetras: #0f172a;
    --azulTitulo: #197fe6;
    --fondoFooter: #0f172a;

    /* modo oscuro */
    --backroundNegro: #121212;
    --azulbackround: #10172a;
    --grisCard: #1e293b;
}

/* tamaño logo */
.logo {
  height: 40px; /* móvil */
  width: auto;
}

@media (min-width: 768px) {
  .logo {
    height: 50px; /* tablet */
  }
}

@media (min-width: 992px) {
  .logo {
    height: 65px; /* desktop */
  }
}

/* ---------Estilo botones-------- */
.btn-login {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  padding: 8px 16px; /* móvil */
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}

.btn-login:hover {
  background-color: #2563eb;
  color: white;
}

/* botón Registrarse */
.btn-signup {
  background-color: #f1f3f5;
  color: #1a1f36;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  padding: 8px 16px; /* móvil */
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
}

.btn-signup:hover {
  background-color: #e2e5e9;
  color: #1a1f36;
}

/* tablet */
@media (min-width: 768px) {
  .btn-login,
  .btn-signup {
    width: auto;
    margin-bottom: 0;
    padding: 9px 20px;
  }
}

/* desktop */
@media (min-width: 992px) {
  .btn-login,
  .btn-signup {
    padding: 10px 24px;
  }
}