* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
  background-color: #F8FAFC;
  padding: 0%;
}

.logo {
  width: 3rem;
}

.title-text{
  font-family: "Plus Jakarta Sans", sans-serif;
  color: black;
}

.btn-login{
  background-color: #1D76E2;
  color: #fff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 0.875rem;
  padding: 8px 16px;
  box-shadow: 0 3px 20px rgba(29, 118, 226, 0.35);
}

