/* colores */

:root{
--grisClaro:#f1f5f9;
--negroLetras:#0f172a;
--azulTitulo:#197fe6;
}

/* HERO */

.hero{
padding:30px 20px;
background:var(--grisClaro);
}

.titulo-hero{
font-size:2.2rem;
font-weight:800;
color:var(--negroLetras);
}

.titulo-hero span{
color:var(--azulTitulo);
}

.descripcion-hero{
margin-top:15px;
color:#64748b;
font-size:1rem;
}

.hero-botones{
margin-top:20px;
display:flex;
flex-direction:column;
gap:10px;
}

.hero-img-size{
height:220px;
object-fit:cover;
}

.avatars{
display:flex;
}

.avatars img{
width:40px;
height:40px;
border-radius:50%;
border:3px solid white;
margin-left:-10px;
}

.texto-usuarios{
font-size:14px;
color:#64748b;
}

.avatars img:first-child{
margin-left:0;
}

/* desktop */

@media (min-width:992px){

.titulo-hero{
font-size:3.5rem;
}

.hero{
padding:80px 60px;
}

.hero-botones{
flex-direction:row;
}

}

.hero-img-size{
height:420px;
}

